*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
.container{
    max-width: 80vw; 
    margin: auto;
   } 
   ul {
    list-style: none;
   }
    h1{
        text-align: center; 
        margin: 2rem;
    } 
    .todo-input{   
        margin: auto;
        width: 80%;
        display: flex; 
        justify-content: space-between;  
        align-items: center;  
     

    }
    input[type='text']{
        width: 75%; 
        padding: 10px 15px;
    } 
    input[type='submit']{
        width: 20%;
    } 
    .btn{
        padding: 10px 15px; 
        background-color:rgb(1,54,82);  
        font-weight: bold; 
        color: white;
        cursor: pointer;   
    } 
    .todo-items{ 
      width: 80%;
       display: flex; 
       margin: auto;  
       flex-direction: column;

    }
    .todo-items li{  
        margin-top: 1rem;
        width: 100%;
        font-size: 22px; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        background-color: rgb(68,68,68); 
        color:white; 
        padding: 5px; 
    } 
    .done,.remove{
        background-color: white; 
        color: black; 
        font-size: 18px;
    }